body {
  margin: 0;
  font-family: Arial;
  background: #e7eef7;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

/* BLUR */
body::before,
body::after {
  content: "";
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
  opacity: 0.5;
}

body::before {
  background: #60a5fa;
  top: -50px;
  left: -50px;
}

body::after {
  background: #93c5fd;
  bottom: -50px;
  right: -50px;
}

.container {
  background: white;
  margin-top: 80px;
  padding: 25px;
  border-radius: 14px;
  width: 360px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

li {
  background: #f1f5fb;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* AUTH BOX */
.auth-box {
  position: fixed;
  top: 15px;
  right: 15px;
  background: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 200px;
  z-index: 10;
}

.auth-box input,
.auth-box button {
  width: 100%;
  margin-top: 5px;
}

/* DARK */
.theme-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

body.dark {
  background: #121212;
  color: white;
}

body.dark .container,
body.dark .auth-box,
body.dark .theme-toggle {
  background: #1e1e1e;
  color: white;
}
/* LİSTE HOVER */
li {
  transition: 0.2s;
}

li:hover {
  transform: translateX(4px);
  background: #e0ebff;
}

/* BUTON ORTAK */
li button {
  border: none;
  padding: 6px 8px;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  font-weight: bold;
}

/* TİK BUTONU */
li button:first-of-type {
  background: #22c55e;
}

li button:first-of-type:hover {
  background: #16a34a;
  transform: scale(1.1);
}

/* X BUTONU */
li button:last-of-type {
  background: #ef4444;
}

li button:last-of-type:hover {
  background: #b91c1c;
  transform: scale(1.1);
}
/* DARK MODE GÖREVLER */
body.dark li {
  background: #1f2937;
  color: #f9fafb;
  border: 1px solid #374151;
}

body.dark li:hover {
  background: #374151;
}

body.dark li span {
  color: #f3f4f6;
  font-weight: 500;
}

/* DONE OLUNCA ÜSTÜ ÇİZİLİ */
body.dark .done span {
  color: #9ca3af;
  text-decoration: line-through;
}
